@charset "UTF-8";
body {
  background: #f4f4f4;
}

.wrapper {
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 710px;
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    margin: 0;
  }
}

.cheapest {
  position: relative;
}

.cheapest ::before {
  content: '最便宜';
  font-size: 0.75rem;
  color: #ff8e26;
  position: absolute;
  top: 0;
  left: 20px;
}

.cheapest ::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-top: 10px solid #ff8e26;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #ff8e26;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0 !important;
  text-align: center;
  font-size: 1rem;
  font-family: "微軟正黑體", "Arial, Helvetica, sans-serif";
  padding: 0;
  margin: 0 auto;
}

table tbody {
  width: 100%;
  border-bottom: 1px solid #e1e2e4;
}

table tbody tr {
  width: 100%;
}

table tbody tr .firsTd {
  width: 90px;
  height: 50px;
}

table tbody tr td {
  height: 50px;
  padding: 0;
}

table tbody tr td .dateIntervalLeft {
  width: 90px;
  height: 100%;
  font-size: 0.9rem;
  color: #666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 1px solid #e1e2e4;
  border-top: 1px solid #e1e2e4;
  border-right: 1px solid #e1e2e4;
  background: #f1f1f1;
}

table tbody tr td .dateIntervalLeft div {
  cursor: default;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

table tbody tr td .backDateContainer {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #eaedf2;
}

@media screen and (min-width: 768px) {
  table tbody tr td .backDateContainer {
    width: 100%;
  }
}

table tbody tr td .backDateContainer .dateIntervalTop {
  border-right: 1px solid #e1e2e4;
  border-top: 1px solid #e1e2e4;
  width: 100%;
  height: 100%;
  font-size: 0.9rem;
  color: #666;
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  table tbody tr td .backDateContainer .dateIntervalTop {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  table tbody tr td .backDateContainer .dateIntervalTop {
    width: calc((100vw - 90px) / 3);
  }
}

table tbody tr td .categoryContainer {
  width: 90px;
  height: 100%;
  border-top: 1px solid #e1e2e4;
  border-left: 1px solid #e1e2e4;
  border-right: 1px solid #e1e2e4;
}

table tbody tr td .categoryContainer .category {
  width: 100%;
  height: 100%;
  background: #eaedf2;
  cursor: default;
  display: block;
  padding: 4px 0;
}

table tbody tr td .categoryContainer .category :first-child {
  text-align: right;
}

table tbody tr td .categoryContainer .category :last-child {
  text-align: left;
}

table tbody tr td .categoryContainer .category span {
  margin: 0 3px;
  display: block;
  color: #666;
  font-size: 0.9rem;
}

table tbody tr td .priceContainer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fff;
}

@media screen and (min-width: 768px) {
  table tbody tr td .priceContainer {
    width: 100%;
  }
}

table tbody tr td .priceContainer .alignInicator {
  background: #f7f7f7;
}

table tbody tr td .priceContainer .active {
  background: #fff9e3;
  border: 1px solid #fe8b88;
}

table tbody tr td .priceContainer .hover {
  background: #fff9e3;
  border: 1px solid #fe8b88;
}

table tbody tr td .priceContainer div {
  border-right: 1px solid #e1e2e4;
  border-top: 1px solid #e1e2e4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.9rem;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  table tbody tr td .priceContainer div {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  table tbody tr td .priceContainer div {
    width: calc((100vw - 90px) / 3);
  }
}

table tbody tr td .priceContainer div :first-child {
  color: black;
}

table tbody tr td .priceContainer div span {
  margin: 0 0 0 5px;
  color: #999;
  background: transparent;
}
/*# sourceMappingURL=main.css.map */